*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
.idea/assetWizardSettings.xml
app/libs/
gradle/
build/dev-appserver-out/
build/exploded-backend/META-INF/
build/exploded-backend/WEB-INF/appengine-web.xml
build/exploded-backend/WEB-INF/lib/
build/exploded-backend/WEB-INF/logging.properties
build/exploded-backend/WEB-INF/web.xml
build/exploded-backend/index.html
build/libs/
build/staged-app/META-INF/
build/staged-app/WEB-INF/appengine-generated/
build/staged-app/WEB-INF/appengine-web.xml
build/staged-app/WEB-INF/classes/source-context.json
build/staged-app/WEB-INF/lib/
build/staged-app/WEB-INF/logging.properties
build/staged-app/WEB-INF/web.xml
build/staged-app/__static__/
build/staged-app/app.yaml
build/staged-app/index.html
build/tmp/
