<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msf.jokelibrary">

    <application>
        <activity
            android:name=".JokeTextActivity"
            android:label="@string/joketextactivity_title"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>